.figure {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.figure > img {
    width: 100%;
    height: 100%;
}

.image-description {
    text-align: center;
    font-family: Gotham-Book;
    color: black;
    
}