.navbar__itens-box {
  width: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
}

.navbar__item,
a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 15px;
  gap: 15px;
  background-color: black;
  text-decoration: none;
  color: white;
}

img {
  width: 20px;
  height: 20px;
}

.navbar__item--flight {
  background-color: red;
}

.navbar__item {
  width: 100%;
}

.navbar__item--rental {
  justify-content: center;
}

@media screen and (min-width: 450px) {
  .navbar__item,
  a {
    width: 100%;
  }

  .navbar__item--rental {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .navbar__itens-box {
    width: 70%;
    z-index: 1;
  }

  .navbar__item--rental {
    width: 33%;
  }
}

@media screen and (min-width: 1366px) {
  .navbar__itens-box {
    width: 65%;
    z-index: 1;
  }
}
