.button-component {
  width: 100%;
  border: none;
  height: 70px;
  font-family: Gotham-Black;
  font-size: 15px;
  word-break: break-all;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.button-component--yellow {
  background-color: var(--yellow);
}
.button-component--white {
  background-color: var(--white);
  border: 2px solid #ededed;
}

.label-component {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.periodo-treino {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--light-grey);
  transition: 0.3s all linear;
  cursor: pointer;
}

.periodo-treino:checked {
  background-color: var(--yellow);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="checkbox"] {
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 2px solid var(--light-grey);
  transition: 0.3s all linear;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--yellow);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.exibir-unidades-fechadas {
  border-radius: 0px !important;
}
.exibir-unidades-fechadas:checked {
  border-radius: 0px !important;
  background-image: url(../../Assets/icons/check.svg);
}

.label-unidades {
  display: flex;
  justify-content: flex-end;
}
.form-component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 3px solid #ededed;
  border-radius: 10px;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .button-component {
    width: 40%;
    height: 50px;
  }
}
@media screen and (min-width: 1366px) {
}
