.banner {
  padding: 15px 15px 30px 15px;
  height: 100%;

  background-color: #f5f5f5;
  border-radius: 10px;
  border: 1px solid var(--light-grey);
  display: flex;
  flex-direction: column;
}

.banner--altura-modificada {
  height: 470px;
}

.banner-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Gotham-Bold;
}

.status-unidade--aberto {
  color: var(--green);
}

.status-unidade--fechado {
  color: var(--red);
}

.banner-info > h2 {
  color: var(--dark-grey);
}

.banner-info > p:last-of-type {
  font-family: Gotham-Book;
  color: var(--light-grey);
}

.banner__imgs {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--light-grey);
  margin-top: 20px;
  padding-top: 20px;
  justify-content: space-around;
}

.banner__imgs > img {
  width: 25%;
  height: 100%;
}

.banner__funcionamento {
  display: flex;
  width: 130%;
  max-height: 100%;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.banner__funcionamento--4oumaisinfos {
  
}

.banner__funcionamento--horario {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 100%;
  width: 35%;
}

.banner__funcionamento--horario > h3 {
  font-family: Gotham-Bold;
  color: var(--dark-grey);
  font-size: 22px;
}

.banner__funcionamento--horario > p {
  font-family: Gotham-Book;
  color: var(--dark-grey);
}

@media screen and (min-width: 450px) {
  .banner__funcionamento {
    width: 90%;
  }

  .banner__funcionamento--horario {
    width: 40%;
  }

  .banner__imgs > img {
    width: 90px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    width: 300px;
  }

  .banner__funcionamento {
    width: 100%;
  }
  .banner__funcionamento--horario {
    width: 40%;
  }
  .banner__imgs > img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 1366px) {
  .banner__funcionamento {
  }

  .banner__funcionamento--horario {
    width: 45%;
  }
  .banner {
    width: calc(32% - 5%);
  }
}
