.legend-section {
  background-color: #f5f5f5;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
  height: 700px;
}

.legend-section__img-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}

.legend-section__img-content > p {
  font-family: Gotham-Bold;
  text-align: center;
}

.legend-section__img-box {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 100%;
}

.horario-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.horario-section__content {
  max-width: 90%;
  height: 100%;
}

.relogio {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Gotham-Light;
}

.relogio > img {
  width: 30px;
  height: 30px;
}

.horario-section__resultados {
  font-family: Gotham-Book;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 30px;
}

.horario-section__resultados > p {
  font-size: 15px;
}

.horario-section__resultados > p > span {
  font-family: Gotham-Black;
}

.resultados__unidades-fechadas {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.exibir-unidades-fechadas {
  cursor: pointer;
}

.resultados__unidades-fechadas > label {
  display: flex;
  align-self: flex-end;
}

.horario__botoes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.unidades-section {
  height: 100%;
  width: 100%;
  margin-top: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* box-shadow: 0 20px 0 20px rgba(rgb(27, 26, 26), rgb(84, 92, 84), rgb(31, 31, 34), alpha); */
}

@media screen and (min-width: 768px) {
  .legend-section {
    height: 200px;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
  }

  .legend-section__img-content {
    width: 100%;
  }

  .legend-section__img-box {
    display: flex;

    justify-content: flex-start;
    width: 100%;
  }
  .resultados__unidades-fechadas {
    width: 50%;
    gap: 10px;
    justify-content: flex-start;
  }

  .horario-section__resultados {
    flex-direction: row;
    justify-content: space-between;
  }

  .horario-section__resultados > p {
    display: flex;
    align-items: flex-end;
  }

  .horario__botoes {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .unidades-section {
    flex-direction: row;
    /* flex-wrap: wrap; */
  }
}

@media screen and (min-width: 1366px) {
}
