.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.container-banner {
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 450px) {
  .container {
    width: 90%;
  }

  .container-banner {
    width: 95%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 90%;
  }

  .container-banner {
    width: 95%;
  }
}

@media screen and (min-width: 1366px) {
  .container {
  }

  .container-banner {
    width: 95%;
  }
}
