@font-face {
  font-family: Gotham-Black;
  src: url(./Assets/fonts/gotham-black.woff2);
}

@font-face {
  font-family: Gotham-Bold;
  src: url(./Assets/fonts/gotham-bold.woff2);
}

@font-face {
  font-family: Gotham-Book;
  src: url(./Assets/fonts/gotham-book.woff2);
}

@font-face {
  font-family: Gotham-Light;
  src: url(./Assets/fonts/gotham-light.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --dark-grey: #333333;
  --light-grey: #808080;
  --yellow: #ffb612;
  --red: #dc0a17;
  --green: #2fc022;
  --white: #fff;
}
